include *.txt
include *.rst
includee Makefile
include etc/grako.ebnf
recursive-include examples *
recursive-exclude examples *.pyc
recursive-exclude examples genparser.py
recursive-exclude examples parser_base.py
global exclude *.pyc 
