include *.txt
include *.rst
includee Makefile
include etc/grako.ebnf
recursive-include examples *
recursive-exclude *.orig
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo
recursive-exclude examples genparser.py
recursive-exclude examples parser_base.py
recursive-exclude examples/antlr antlr_parser.py
global exclude *.pyc
global exclude *.pyo
global exclude *.orig
